@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --primary: 242 101 34; /* #f26522 */
  }

  html,
  body,
  #__next {
    @apply h-full text-[#171c24] dark:text-[#dcdcdd];
  }

  html.dark {
    @apply bg-[#17191e];
  }
  html.light {
    @apply bg-slate-50;
  }
}

@layer components {
  /* Text Sizes */
  .text-display {
    @apply text-3xl sm:text-4xl md:text-5xl lg:text-6xl font-bold;
  }

  .text-h1 {
    @apply text-2xl sm:text-3xl md:text-4xl lg:text-5xl font-bold;
  }

  .text-h2 {
    @apply text-xl sm:text-2xl md:text-3xl lg:text-4xl font-semibold;
  }

  .text-h3 {
    @apply text-lg sm:text-xl md:text-2xl lg:text-3xl font-semibold;
  }

  .text-h4 {
    @apply text-base sm:text-lg md:text-xl lg:text-2xl font-medium;
  }

  .text-body-large {
    @apply text-base sm:text-lg md:text-xl leading-relaxed;
  }

  .text-body {
    @apply text-sm sm:text-base md:text-lg leading-relaxed;
  }

  .text-body-small {
    @apply text-xs sm:text-sm md:text-base leading-relaxed;
  }

  .text-caption {
    @apply text-xs sm:text-sm leading-normal;
  }

  /* Navigation Text */
  .nav-text {
    @apply text-sm sm:text-base md:text-lg font-medium;
  }

  /* Logo Text */
  .logo-text {
    @apply text-xl sm:text-xl md:text-2xl font-semibold;
  }

  /* Header Product Manager Text */
  .header-pm-text {
    @apply text-base md:text-lg leading-relaxed font-medium text-primary;
  }

  /* Card Title */
  .card-title {
    @apply text-base sm:text-lg md:text-xl font-semibold;
  }

  /* Card Description */
  .card-description {
    @apply text-sm sm:text-base leading-relaxed;
  }
}

@layer utilities {
  .text-color {
    @apply text-[#171c24] dark:text-[#dcdcdd];
  }

  .bg-color {
    @apply bg-slate-50 dark:bg-[#17191e];
  }

  .date-color {
    @apply text-gray-500 dark:text-gray-400;
  }

  .border-color {
    @apply border-gray-200 dark:border-gray-800;
  }

  .code-color {
    @apply bg-gray-100 dark:bg-gray-900;
  }

  .nav-active {
    @apply !text-primary !important;
  }

  .nav-text {
    @apply text-base font-medium text-[#171c24] dark:text-[#dcdcdd] hover:text-[#d85a1b] dark:hover:text-[#d85a1b] transition-colors duration-200;
  }

  .project-text {
    @apply text-primary border-primary;
  }

  .project-style {
    @apply items-center border-2 rounded-full px-2;
  }

  /* For Webkit-based browsers (Chrome, Safari and Opera) */
  .scrollbar-hide::-webkit-scrollbar {
    display: none;
  }

  /* For IE, Edge and Firefox */
  .scrollbar-hide {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
  }
}
