@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  #root {
    @apply bg-light-bg /*dark:bg-dark-bg*/ w-screen h-screen;
  }
}

@layer components {
  .h1 {
    @apply text-6xl font-bold text-light-text /*dark:text-dark-text*/;
  }
  .h2 {
    @apply text-4xl font-bold text-light-text /*dark:text-dark-text*/;
  }
  .h3 {
    @apply text-3xl font-semibold text-light-text /*dark:text-dark-text*/;
  }
  .h4 {
    @apply text-2xl font-semibold text-light-text /*dark:text-dark-text*/;
  }
  .h5 {
    @apply text-xl font-medium text-light-text /*dark:text-dark-text*/;
  }
  .container-inner {
    @apply mx-auto w-full max-w-3xl xl:max-w-5xl;
  }
}

@layer utilities {
  .text-color {
    @apply text-light-text /*dark:text-dark-text*/;
  }

  .bg-color {
    @apply bg-light-bg /*dark:bg-dark-bg*/;
  }

  .border-color {
    @apply border-light-border /*dark:border-dark-border*/;
  }

  .nav-active {
    @apply !text-primary !important;
  }

  .nav-text {
    @apply text-sm font-semibold sm:text-lg hover:text-primary transition-all;
  }

  /* For Webkit-based browsers (Chrome, Safari and Opera) */
  .scrollbar-hide::-webkit-scrollbar {
    display: none;
  }

  /* For IE, Edge and Firefox */
  .scrollbar-hide {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
  }
}
